@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-title: "Bebas Neue", serif;
  --font-subtitle: "JetBrains Mono", sans-serif;

  --color-primary-50: #fcf6f0;
  --color-primary-100: #f9ebdb;
  --color-primary-200: #f2d3b6;
  --color-primary-300: #e9b688;
  --color-primary-400: #df8f58;
  --color-primary-500: #d87237;
  --color-primary-600: #d15f2e;
  --color-primary-700: #a74727;
  --color-primary-800: #863a26;
  --color-primary-900: #6d3221;
  --color-primary-950: #3a1710;

  --color-secondary-50: #f6f4fe;
  --color-secondary-100: #edeafd;
  --color-secondary-200: #ded9fb;
  --color-secondary-300: #c5baf8;
  --color-secondary-400: #a893f2;
  --color-secondary-500: #8a67eb;
  --color-secondary-600: #7946e1;
  --color-secondary-700: #6a34cd;
  --color-secondary-800: #52289f;
  --color-secondary-900: #4a258d;
  --color-secondary-950: #2d165f;

  --drop-shadow-def: 2px 2px 1px rgb(0, 0, 0, 0.3);
}

:root {
  font-family: PT-sans, sans-serif;

  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
